section {
    @include flexCenterMobile();

    * {
        margin-bottom: 30px;
    }

   .section-content {
        @include flexCenterMobile();
        background-color: $dark;
        * {
            margin-bottom: 30px;
        }

        p {
            padding: 0 50px;
        }
   }
}

#hero-section {
    position: relative;
    overflow-x: hidden;
    
    video {
       height: 70vh;

    }
    h1 {
        position: absolute;
        text-shadow: 0 0 10px $shadow;
    }
}

#intro-section {

    .section-content {
        padding: 20px 0;
    }
    
}

#sponsor-main { 
    padding: 40px 30px 70px 30px;

    a {
        @include flexCenterMobile();
        
    }
}

#about-us-section, #news-section {
    ul {
       @include flexCenterMobile();
    }
}

#links-section {
    background-color: $dark;
    padding: 20px;
    ul {
    @include flexCenterMobile();
    }
        li {
            margin: 0;
        }
            h3 {
                margin: 10px 0;
            }
            a {
                font-family: $assistant;
                color: $white;
                text-decoration: none;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            img {
                max-width: 40vw;
            }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li
            a
                img {
                    background-color: white;
                    height: 40px;
                    width: 90px;
                }
    }
}

.big-img {
    max-width: 80%;
}

.thumbnail {
    max-height: 400px;
    
    margin: 0 auto;
}


