$primary: #3B69E6;
$primary-lighter: #6086f0;
$dark: #13293D;
$black: #161925;
$body-bcg: #F6F8F8;
$shadow: #161925;
$white: #ffffff;

$root-font-size: 10px;

$teko: 'Teko', sans-serif;
$assistant: 'Assistant', sans-serif;